<h1>Hello, <%= @user.username %>!</h1>
<% if flash.notice.present? %>
<div class="row">
    <div class="col s12 m5">
      <div class="card-panel red">
        <span class="white-text">
          <%= flash.notice %>
        </span>
      </div>
    </div>
  </div>
<% end %>
<h3>Favorite Pictures:</h3>
<div class="row grid">
  <% @user.favorite_pictures.each do |picture| %>
    <%= render partial: "picture", locals: { picture: picture } %>
  <% end %>
</div>
<h3>You are following:</h3>

<% @user.leaders.sort_by { |leader| leader.username }.each do |leader| %>
  <%= leader.username %>
  <div class="row grid">
    <% leader.pictures.each do |picture| %>
      <%= render partial: "picture", locals: { picture: picture } %>
    <% end %>
  </div>
<% end %>

<h3>Your Pictures:</h3>
<div class="row grid">
  <% @user.pictures.sort_by { |picture| picture.favorited_by_ids.count }.each do |picture| %>
    <%= render partial: "picture", locals: { picture: picture } %>
  <% end %>
</div>
<div class="row">
  <div class="col s12">
    <%= link_to "Add a picture", new_picture_path, class: "btn waves-effect waves-light" %>
  </div>
</div>
