<% if @user == current_user %>
  <h1>Hello, <%= @user.username %>!</h1>
  <% if flash[:notice].present? %>
    <div class="row">
      <div class="col s12 m5">
        <div class="card-panel red">
          <% flash[:notice].each do |message| %>
            <p class="white-text">
              <%= message %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<% if @user == current_user %>
  <% if @user.favorites.present? %>
    <h3>Favorite Pictures:</h3>
    <div class="row">
        <%= render partial: "slider" %>
    </div>
  <% end %>
  <h3>You are following:</h3>

  <% @user.leaders.sort_by { |leader| leader.username }.each do |leader| %>
    <h4><%= link_to leader.username, leader %></h4>
    <div class="row grid">
      <% leader.pictures.each do |picture| %>
        <%= render partial: "picture", locals: { picture: picture } %>
      <% end %>
    </div>
  <% end %>
<% end %>
<h3><% if @user == current_user %>Your<% else %><%= @user.username %>'s<% end %> Pictures:</h3>
<div class="row grid">
  <% @user.pictures.sort_by { |picture| picture.favorited_by.count }.each do |picture| %>
    <%= render partial: "picture", locals: { picture: picture } %>
  <% end %>
</div>
<% if @user == current_user %>
  <div class="row">
    <div class="col s12">
      <%= link_to "Add a picture", new_picture_path, class: "btn waves-effect waves-light" %>
    </div>
  </div>
<% end %>
