<script>
$( document ).on('turbolinks:load', function() {
  if ($(':selected')) {
    $('label[for="picture_category_ids"]').addClass('active');
  }
});
</script>
<% if flash[:notice].present? %>
  <% flash[:notice].each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div class="row">
  <div class="col s6">
    <%= form_for @picture do |f| %>
    <div class="input-field">
      <%= f.label :name, class: 'active' %>
      <%= f.text_field :name %>
    </div>
    <div class="input-field file-field">
      <div class="btn">
        <%= f.label :image, class: 'hidden' %>
        <span>Image</span>
        <%= f.file_field :image %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <div class="input-field">
      <%= f.label :category_ids, "Categories" %>
      <select name="picture[category_ids][]" multiple>
        <option value="" disabled selected>Select at least one category</option>
        <% @categories.each do |category| %>
          <option value="<%= category.id %>" <%= 'selected' if @picture.category_ids.include?( category.id ) %>><%= category.name %></option>
        <% end %>
      </select>
    </div>
    <%= f.submit class: "btn waves-effect waves-light" %>
    <% end %>
  </div>
  <div class="col s6">
    <h5>Preview:</h5>
    <%= image_tag @picture.image.url %>
    <%= form_tag bw_path(@picture)  do %>
      <div><%= submit_tag("B&W", class: "waves-effect waves-light btn" ) %></div>
    <% end %>
    <%= form_tag edge_path(@picture)  do %>
      <div><%= submit_tag("Edge", class: "waves-effect waves-light btn" ) %></div>
    <% end %>
    <%= form_tag sepia_path(@picture)  do %>
      <div><%= submit_tag("Sepia", class: "waves-effect waves-light btn" ) %></div>
    <% end %>
    <%= form_tag charcoal_path(@picture)  do %>
      <div><%= submit_tag("Charcoal", class: "waves-effect waves-light btn" ) %></div>
    <% end %>
    <%= form_tag sketch_path(@picture)  do %>
      <div><%= submit_tag("Sketch", class: "waves-effect waves-light btn" ) %></div>
    <% end %>
    <%= form_tag vignette_path(@picture)  do %>
      <div><%= submit_tag("Vignette", class: "waves-effect waves-light btn" ) %></div>
    <% end %>
    <%= form_tag polaroid_path(@picture)  do %>
      <div><%= submit_tag("Polaroid", class: "waves-effect waves-light btn" ) %></div>
    <% end %>
    <%= form_tag make_bigger_path(@picture)  do %>
      <div><%= submit_tag("Double Size", class: "waves-effect waves-light btn" ) %></div>
    <% end %>
    <%= form_tag make_smaller_path(@picture)  do %>
      <div><%= submit_tag("Half Size", class: "waves-effect waves-light btn" ) %></div>
    <% end %>
    <%= form_tag make_thumbnail_path(@picture)  do %>
      <div><%= submit_tag("Thumbnail", class: "waves-effect waves-light btn" ) %></div>
    <% end %>
    <%= form_tag flip_vertical_path(@picture)  do %>
      <div><%= submit_tag("Flip Vertically", class: "waves-effect waves-light btn" ) %></div>
    <% end %>
    <%= form_tag flip_horizontal_path(@picture)  do %>
      <div><%= submit_tag("Flip Horizontally", class: "waves-effect waves-light btn" ) %></div>
    <% end %>

  </div>
</div>
