<% if flash[:notice].present? %>
  <% flash[:notice].each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div class="row">
  <div class="col s6">
    <%= form_for @picture do |f| %>
    <div class="input-field">
      <%= f.label :name, class: 'active' %>
      <%= f.text_field :name %>
    </div>
    <div class="input-field file-field">
      <div class="btn">
        <%= f.label :image, class: 'hidden' %>
        <span>Image</span>
        <%= f.file_field :image %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <div class="input-field">
      <%= f.label :category_ids, "Categories" %>
      <select name="picture[category_ids][]" multiple>
        <option value="" disabled selected>Select at least one category</option>
        <% @categories.each do |category| %>
          <option value="<%= category.id %>"><%= category.name %></option>
        <% end %>
      </select>
    </div>
    <%= f.submit class: "btn waves-effect waves-light" %>
    <% end %>
  </div>
  <div class="col s6">
    <h5>Preview:</h5>
    <%= image_tag @picture.image.url %>
  </div>
</div>
