<script>
$( document ).on('turbolinks:load', function() {
  function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
              $('#preview-image').attr('src', e.target.result);
          }

          reader.readAsDataURL(input.files[0]);
      }
  }

  $("#picture_image").change(function(){
      readURL(this);
      $('#preview').removeClass('hidden');
  });

  if ($(':selected')) {
    $('label[for="picture_category_ids"]').addClass('active');
  }

});
</script>
<% if flash[:notice].present? %>
  <% flash[:notice].each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<div class="row">
  <div class="col s12 m6">
    <%= form_for @picture do |f| %>
    <div class="input-field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="input-field file-field">
      <div class="btn">
        <%= f.label :image, class: 'hidden' %>
        <span>Image</span>
        <%= f.file_field :image %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Select a picture to upload">
      </div>
    </div>
    <div class="input-field">
      <%= f.label :category_ids, "Categories" %>
      <select name="picture[category_ids][]" multiple>
        <option value="" disabled selected>Choose at least one Category</option>
        <% @categories.each do |category| %>
          <option value="<%= category.id %>"><%= category.name %></option>
        <% end %>
      </select>
    </div>
    <%= f.submit class: "btn waves-effect waves-light" %>
    <% end %>
  </div>
  <div class="col s12 m6">
    <div id="preview" class="card hidden">
      <div class="card-image">
        <img id="preview-image" src="#" alt="Image Preview">
      </div>
    </div>
  </div>
</div>
