<% if !@picture.errors.empty? %>
  <% @picture.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<div class="row">
  <div class="col s6">
    <%= form_for @picture do |f| %>
    <div class="input-field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="input-field file-field">
      <div class="btn">
        <%= f.label :image, class: 'hidden' %>
        <span>Image</span>
        <%= f.file_field :image %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <div class="input-field">
      <%= label_tag :categories, "Add your tags, separated by commas" %>
      <%= text_area_tag :categories, nil, class: 'materialize-textarea'  %>
    </div>
    <%= f.submit class: "btn waves-effect waves-light" %>
    <% end %>
  </div>
</div>
