<h3><%= @picture.name %></h3>
<div class="card">
  <div class="card-image">
    <%= image_tag @picture.image.url %>
  </div>
  <div class="card-content">
    <h5>Categories:</h5>
    <% @picture.picture_categories.each do |pic_category| %>
      <div class="chip">
        <%= link_to pic_category.category.name, pic_category.category %>

        <% if logged_in? && user_authorized? %>
          <%= link_to "<i class='close material-icons'></i>".html_safe, "/pictures/#{@picture.id}/picture-categories/#{pic_category.id}", method: "delete"%>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% if logged_in? && session[:user_id] != @picture.user.id && !following_picture_owner? %>
  <%= link_to "Follow #{@picture.user.username}", "/user-leaders/#{@picture.user.id}", class: "btn waves-effect waves-light", method: "post" %>
<% end %>
<h5>Tags</h5>
<ul>
  <% @picture.picture_tags.each do |tag| %>
    <li>
      <div class="chip">
        <%= link_to tag.tag.name, tag.tag %>
        <% if logged_in? && user_authorized? %>
          <%= link_to "<i class='close material-icons'></i>".html_safe, "/pictures/#{@picture.id}/picture-tags/#{tag.id}", method: "delete" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
<% if logged_in? && user_authorized? %>
  <p><%= link_to "Edit Image", edit_picture_path( @picture ), class: "btn waves-effect waves-light" %>
  <%= link_to "Delete Image", "/pictures/#{@picture.id}", class: "btn waves-effect waves-light", method: "delete" %></p>
<% end %>
