<script>
  $(document).ready(function() {
    $('select').material_select();
    $('.chips').material_chip();
    $('.chips-initial').material_chip({
      data: [{
        tag: 'Apple',
      }, {
        tag: 'Microsoft',
      }, {
        tag: 'Google',
      }],
    });

    // $('.chips-autocomplete').material_chip({
    //   autocompleteOptions: {
    //     data: {
    //       'Apple': null,
    //       'Microsoft': null,
    //       'Google': null
    //     },
    //     limit: Infinity,
    //     minLength: 1
    //   }
    // });

    $('.chips').on('chip.add', function(e, chip){
      // you have the added chip here
    });

    $('.chips').on('chip.delete', function(e, chip){
      // you have the deleted chip here
    });
  });

</script>
<h3><%= @picture.name %></h3>
<%= image_tag @picture.image.url %>
<% if session[:user_id] != @picture.user.id && logged_in? %>
  <%= link_to "Follow #{@picture.user.username}", "/user-leaders/#{@picture.user.id}", class: "btn waves-effect waves-light", method: "post" %>
<% end %>
<h5>Categories</h5>
<ul>
  <% @picture.categories.each do |category| %>
    <li>
      <%= link_to category.name, category %>

      <% if logged_in? && user_authorized? %>
        <%= form_tag "/picture-categories/#{PictureCategory.find_by( picture_id: @picture.id, category_id: category.id).id}", method: "delete" do %>
          <%= hidden_field_tag :picture_id, @picture.id %>
          <%= hidden_field_tag :category_id, category.id %>
          <%= submit_tag "X", class: "btn waves-effect waves-light" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<h5>Tags</h5>
<ul>
  <% @picture.tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path %>
      <% if logged_in? && user_authorized? %>
        <%= link_to "X".html_safe, "/picture-tags/#{PictureTag.find_by( picture_id: @picture.id, tag_id: tag.id).id}", class: "btn waves-effect waves-light", method: "delete" %>
      <% end %>
    </li>
  <% end %>
</ul>
<% if logged_in? && user_authorized? %>
  <p><%= link_to "Edit Image", edit_picture_path( @picture ), class: "btn waves-effect waves-light" %>
  <%= link_to "Delete Image", "/pictures/#{@picture.id}", class: "btn waves-effect waves-light", method: "delete" %></p>
<% end %>
