<h3><%= @picture.name %></h3>
<%= image_tag @picture.image_url %>
<p><%= link_to "Edit image", edit_picture_path( @picture ), class: "btn" %></p>
<br>
<h5>Categories</h5>
<ul>
  <% @picture.categories.each do |category| %>
    <li>
      <%= link_to category.name, category %>
      <%= form_tag "/picture-categories/#{PictureCategory.find_by( picture_id: @picture.id, category_id: category.id).id}", method: "delete" do %>
        <%= hidden_field_tag :picture_id, @picture.id %>
        <%= hidden_field_tag :category_id, category.id %>
        <%= submit_tag "X" %>
      <% end %>
    </li>
  <% end %>
</ul>
<% if !!@picture_category && !@picture_category.errors.empty? %>
  <% @picture_category.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<%= form_tag '/picture-categories' do %>
  <%= hidden_field_tag :'picture_category[picture_id]', @picture.id %>
  <%= label_tag :'picture_category[category_id]', "Categories:" %>
  <%= select_tag(:'picture_category[category_id]', options_from_collection_for_select( @picture.non_category, "id", "name" ) ) %>
  <%= submit_tag "Add Category" %>
<% end %>
