<!DOCTYPE html>
<html>
  <head>
    <title>Pixr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <%= link_to 'Pixr', root_path, id:"logo" %>
        </li>
        <% if logged_in? %>
          <li>
            <%= link_to "View your pics", current_user %>
          </li>
          <li>
            <%= link_to "Logout", "/sessions/#{current_user.id}", method: 'delete' %>
          </li>
        <% else %>
          <li>
            <% if !!@user && !@user.errors.empty? %>
              <% @user.errors.full_messages.each do |message| %>
                <p class="error"><%= message %></p>
              <% end %>
            <% end %>
            <%= form_tag '/sessions' do %>
              <%= label_tag :username, "Username:" %>
              <%= text_field_tag :username %><br>
              <%= label_tag :password, "Password:" %>
              <%= password_field_tag :password %>
              <br>
              <%= submit_tag "Login", class: "btn" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
