<!DOCTYPE html>
<html>
  <head>
    <title>Pixr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <script>
    $( document ).on('turbolinks:load', function() {
      $('select').material_select();
    });
  </script>
  <body>
    <%= render 'nav_bar' %>
    <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
